@import '../../../styles/settings.scss';

.component {
  height: calc(100vh - 150px); 
  position: relative;
  .wave {
    background-color: $color-light;
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 600px;
    max-height: 70vh;
    border-radius: 100% 0 0 0;
    width: 900px;
    
  }
  .image {
    height: 90%;
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
}


@include tablet {
  .component {
    .wave {
      height: 600px;
      max-height: 70vh;
      width: 500px
    }
    .image {
      height: 70%;
    }
  }
}

@include mobile {
  .component {
    height: calc(100vh - 156px); 
    height: calc((var(--vh, 1vh) * 100) - 156px);
    .wave {
      height: calc(80vh - 156px);
      max-height: calc(80vh - 156px);
      border-radius: 90% 0 0 0;
      .image {
        height: 70%;
        bottom: 0%;
      }
    }
  }
}

