@import '../../../styles/settings.scss';

.component {
  min-height: calc(100vh - 200px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 5px 50px;
  justify-items: center;
}
