@import '../../../styles/settings.scss';

.component {
  padding: ($base-size * 1.5) 0;
  height: 150px;
  background-color: $color-one;

  nav {
    
    a {
      color: $color-light;
      text-decoration: none;
      font-size: 24px;
      margin-right: 20px;
      transition: $transition;
      border-bottom: 1px solid $color-one;
      &:hover {
        border-bottom: 1px solid $color-light;
      }
      &:global(.active) {
        border-bottom: 2px solid $color-light;
      }
    }
  }
  
  
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: to-upper-case($string: "");
}

.logo {
  text-decoration: none;
  color: $color-light;
  margin-right: 20px;

}

@include tablet {
  .component {
    nav {
      a {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}

@include mobile {
  .component {
    height: auto;
    nav {
      a {
        font-size: 14px;
        margin-right: 0;
        display: block;
        margin-top: 10px;
        padding-right: 5px;
        &:first-of-type {
          margin-top: 0px;
        }
        border-right: 1px solid transparent;
        border-bottom: 0;
        &:hover {
          border-right: 1px solid $color-light;
          border-bottom: 0;
        }
        &:global(.active) {
          border-bottom: 0;
          border-right: 2px solid $color-light;
          &:hover {
            border-right: 2px solid $color-light;
            border-bottom: 0;
      }
        }
      }
      
    }
  }
}
