@import '../../styles/settings.scss';

.component {
  height: calc(100vh - 150px);
  position: relative;
  .image {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 600px;
    max-height: 80vh;
  }
}

