@import '../../styles/settings.scss';

.component {
  padding: ($base-size * 1.5) 0;
  height: 150px;

  nav {
    
    a {
      color: $color-one;
      text-decoration: none;
      font-size: 24px;
      margin-right: 20px;
      transition: $transition;
      border-bottom: 1px solid $color-light;
      &:hover {
        border-bottom: 1px solid $color-one;
      }
      &:global(.active) {
        border-bottom: 2px solid $color-one;
      }
    }
  }
  
  
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: to-upper-case($string: "");
}

.logo {
  text-decoration: none;
  color: $color-one;
  margin-right: 20px;

}

